<div class="wait-card col-md-8 col-md-offset-2">
<div class='jumbotron text-center'>
	<h2>Encore un peu de patience...
		<br>
		<br><i class="fa fa-spinner fa-4x fa-primary fa-pulse"></i>
		<br>
	</h2>
	<p class="lead">Les videos des cours sont en cours de finalisation.
		<br><small>Plus que quelques jours, et vous pourrez en profiter à votre tour !</small></p>
		<hr>
		Entretemps, vous pouvez <%= link_to "mettre à jour votre profil", edit_user_path(current_user) %> :)

		<br>
		
			A bientôt, sur Hackuna !
		
</div>
</div>