<nav class="navbar navbar-default text-center footer-nav" role="navigation">

    <br>
      <p>Hackuna by Etalyo | copyright 2015 - 2018
      </p>

    <span class="fa-stack fa-lg">
		<a href="http://facebook.com/hackuna.academy" target="_blank">
		  	<i class="fa fa-circle fa-stack-2x hkncolor"></i>
		  	<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</a>
	</span>

	<span class="fa-stack fa-lg">
		<a href="http://instagram.com/hackuna.academy" target="_blank">
		  	<i class="fa fa-circle fa-stack-2x hkncolor"></i>
		  	<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		</a>
	</span>

	<span class="fa-stack fa-lg">
		<a href="mailto:contact@hackuna.academy" target="_blank">
		  	<i class="fa fa-circle fa-stack-2x hkncolor"></i>
		  	<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		</a>
	</span>


      
</nav>